$alata: 'Alata', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkgray: hsl(0, 0%, 55%);
$verydarkgray: hsl(0, 0%, 41%);
$fill : center / cover no-repeat;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
}

.title{
    text-transform: uppercase;
}


.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    height: 100vh;
    background: $fill url("images/mobile/image-hero.jpg")
}

.hero-title{
    border: solid $white .15rem;
    margin: 0 1rem;
    margin-top: 1.25rem;
    padding: 1.5rem;
    height: 45%;
    font-family: $josefin;
    font-size: 2.75rem;
    font-weight: 200;
}

.logo-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1.5rem;
    margin-bottom: 2rem;
    
    z-index: 10;
}

.nav-container{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: none;
}

.navbar.active{
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.navlist{
    list-style: none;
}

.navlinks{
    text-decoration: none;
    text-transform: uppercase;
    color: $white;
    font-family: $josefin;
    font-size: 1.25rem;
    font-weight: 200;
    padding: 1.5rem;
    line-height: 2.5rem;
}

.hamburger{
    display: inline;
}

.hamburger.active{
    display: none
}

.close{
    display: none;
}

.close.active{
    display: inline;
}

.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $darkgray;
    font-family: $josefin;
    margin: 1.5rem;
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
    text-align: center;
    p{
        line-height: 1.5rem;
        font-weight: 500;
        padding: 1rem;
    }
    
}

.interactive-img{
    background: $fill url("images/desktop/image-interactive.jpg");
    width: 90vw;
    height: 50vh;
    margin-bottom: 2.5rem;
}

.about-title{
    color: $black;
    font-weight: 300;
    font-size: 2rem;
}

.products{
    font-family: $josefin;

}

.main-products-heading{
    color: $black;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 300;
    font-size: 1.75rem;
    width: 100%
}

.products-container{
    display: grid;
    padding: 1.5rem;
    h2{
        width: 50%;
        font-size: 1.5rem;
        font-weight: 200;
    }
}

.product{
    color: $white;
    margin: .5rem;
    height: 25vh;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

.product1{
    
    background: $fill url("images/mobile/image-deep-earth.jpg");
}

.product2{
    background: $fill url("images/mobile/image-night-arcade.jpg");
}

.product3{
    background: $fill url("images/mobile/image-soccer-team.jpg");
}

.product4{
    background: $fill  url("images/mobile/image-grid.jpg");
}

.product5{
    background: $fill url("images/mobile/image-from-above.jpg");
}

.product6{
    background: $fill url("images/mobile/image-pocket-borealis.jpg");
}

.product7{
    background: $fill url("images/mobile/image-curiosity.jpg");
}

.product8{
    background: $fill url("images/mobile/image-fisheye.jpg");
}

.btn{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: solid $black .1rem;
    background-color: $white;
    padding: .5rem;
    text-transform: uppercase;
    font-family: alata;
    letter-spacing: .25rem;
}

footer{
    padding-top: 1.75rem;
    padding-bottom: .5rem;
    background-color: $black;
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul{
        margin-bottom: 1rem;
        li{
            padding: .75rem;
            a{
                text-decoration: none;
                color: $white;
                font-family: $josefin;
            }
        }
    }
}

.footer-logo{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.social-icons{
    img{
        padding: .5rem;
    }
}


@media (min-width: 1440px){
    .hero{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        color: $white;
        background: $fill url("images/desktop/image-hero.jpg");
        height: 85vh;
        padding: 3rem;
    }

    .hero-title{
        display: flex;
        align-items: center;
        border: solid $white .15rem;
        padding: 1.5rem;
        margin: 4rem;
        width: 48vw;
        height: 55%;
        font-size: 5rem;
        font-weight: 200;
        position: relative;
        top: 3rem;
    }

    .nav-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4rem;
    }

    .logo-container{
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        width: auto;
    }

    .navbar{
        display: flex; 
        
    }

    .navlist{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    .navlinks{
        padding: .75rem;
        font: 1em $alata;
    }

    .hamburger{
        display: none;
    }

    .interactive-img{
        background-image: $fill url("images/desktop/image-interactive.jpg");
        width: 50vw;
        height: 50vh
    }

    .about-container{
    
    }


    .product1{
        background: $fill url("images/desktop/image-deep-earth.jpg");
    }
    
    .product2{
        background: $fill url("images/desktop/image-night-arcade.jpg");
    }
    
    .product3{
        background: $fill url("images/desktop/image-soccer-team.jpg");
    }
    
    .product4{
        background: $fill url("images/desktop/image-grid.jpg");
    }
    
    .product5{
        background: $fill url("images/desktop/image-from-above.jpg");
    }
    
    .product6{
        background: $fill url("images/desktop/image-pocket-borealis.jpg");
    }
    
    .product7{
        background: $fill url("images/desktop/image-curiosity.jpg");
    }
    
    .product8{
        background: $fill url("images/desktop/image-fisheye.jpg");
    }
}
